# Environment
.env

# Cache files
*.cache.sqlite
.cache.sqlite
.cache/

# Python cache
.conda
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pyo
*.pyd
.pytest_cache/

# Set up cache
energy_intelligence_platform.egg-info



