# Core
os
pathlib
numpy
pandas
pyarrow
datetime

# HTTP / APIs
requests
requests-cache
retry-requests
lxml
fastapi
uvicorn
json

# Scheduling
apscheduler

# Weather 
openmeteo-requests

# Utils
python-dotenv
holidays

# Visualization
matplotlib

# Models
scikit-learn
xgboost
lightgbm
joblib